{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %} Edit category{% endblock %}
{% block body %}


<div style="text-align: center; padding-top: 20px;">
    <h2>
        Edit category</h2>
</div>
<div style="max-width: 60%;">
    <div>
        <form method="post" action="{{ url_for('post.edit_category', category_id=category.id) }}" novalidate style="display: block; border: none; padding: 0; width: auto; max-width: initial">
            {{ form.csrf_token }}
            {{ render_field(form.name) }}
            {{ form.submit(class="btn-round btn btn-primary btn-lg") }}
        </form>        
    </div>
</div>


{% endblock %}