{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block body %}
<div style="text-align: center; padding-top: 20px;">
    <h1>{{ post.title }}</h1>
</div>
<div style="padding-top: 50px;">
    <div >
        <div>
            <div>
                <p><strong>Image:</strong></p>
                <img alt="Post Image" src="{{ url_for('static', filename='post_pics/' + post.image) }}" style="width: 300px; height: 300px;">
            </div>
        </div>
        <div>
            <div>
                <p><strong>Text:</strong> {{ post.text }}</p>
            </div>
        </div>
        <div>
            <div>
                <p><strong>Type:</strong> {{ post.type }}</p>
                <p><strong>Category:</strong> {{ post.category.name }}</p>
                </p>
                <p><strong>Date:</strong> {{ post.created.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                <p><strong>Enabled:</strong> {{ post.enabled }}</p>

                {% if current_user.is_authenticated and post.user_id == current_user.id %}
                <div class="mt-4">
                    <a href="{{ url_for('post.edit_post', post_id=post.id) }}">Edit</a>
                    <form action="{{ url_for('post.delete_post', post_id=post.id) }}" method="post" class="d-inline" onsubmit="return confirm('Do you want to delete the post?');" style="display: block; border: none; padding: 0; width: auto; max-width: in<button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

